body {
  background-color: powderblue;
}

img {
    width: 300px;
    height: auto;
}

.modal-full {
    min-width: 60%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 70vh;
}

.tooltip .tooltip-inner {
    /*
    background-color: rgba(234, 205, 159, 1);
    */
    background-color: red;
    color: black;
    max-width: 45vw;
    width: auto;
    height: auto;
    font-size: 2vw;
}
