@font-face {
	font-family: "Philosopher";
	src: url("font/Philosopher-Regular.ttf");
}

* {
	font-family: "Philosopher", serif;
}

body {
  background-color: powderblue;
}

img {
    width: 15vw;
    height: auto;
}

h1 {
	font-size: 3vw;
}

img:hover {
	width: 17vw;
	cursor: pointer;
}

img, img:hover{
	transition: width .5s;
}

a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

#titre {
	font-size: 5vw;
}

#art1 {
	background-color: #99cfca;
}
#art1:hover {
	background-color: #aaf6ee;
}

#art2 {
	background-color: #93c0c3;
}
#art2:hover {
	background-color: #c3e8e7;
}

#art3 {
	background-color: #9fd1d4;
}
#art3:hover {
	background-color: #b3e5e1;
}
#art4 {
	background-color: #93c0c3;
}
#art4:hover {
	background-color: #b3e5e2;
}

#art1, #art1:hover {
	transition: background-color .5s;
}
#art2, #art2:hover {
	transition: background-color .5s;
}
#art3, #art3:hover {
	transition: background-color .5s;
}
#art4, #art4:hover {
	transition: background-color .5s;
}

/**************************
**********TOOLTIP*********
 ***********************/
.tooltip {
	opacity: 1 !important;
}

.tooltip .tooltip-inner {
    background-color: rgb(190, 236, 190);
    color: black;
    max-width: 45vw;
    width: auto;
    height: auto;
    font-size: 1.5vw;
    border-style: solid;
    border-color: #215421;
    font-weight: bold;
}
/**************************
**********TOOLTIP*********
 ***********************/




/***********************
**********MODAL*********
 ***********************/

.modal-full {
	min-width: 70%;
	margin: 0;
}

.modal-full .modal-content {
	min-height: 80vh;
}

.modal {
	text-align: center;
}

.modal-content {
    max-height: 95vh;
    overflow: scroll;
}


.carousel-inner {
    text-align: center !important;
}

.carousel-item > img {
    text-align: center !important;
    width: 60vw !important;
    height: 80vh !important;
    cursor: default;
}

.modal::before {
	content: "";
	display: inline-block;
	height: 100%;
	margin-right: -4px;
	vertical-align: middle;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

#names {
    max-height: 16vh;
    overflow-y: scroll;
}

#merci {
	height: 40vh !important;
	margin-top: 10vh;
}

#msg {
	height: 50vh !important;
}

#articles, #creme, #ecrire, #pdf, #livredor, #mail, #contact {
	height: 60vh !important;
}


/***********************
**********MODAL*********
 ***********************/

